<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--    namespace对应Mapper接口名  -->
  <mapper namespace="shopadmin.mapper.CellphoneMapper">
  		
  		<select id="findAll" resultType="Cellphone">
  			select  cp_id,cp_brand,cp_model,cp_os,cp_cpu,cp_cpu_cores,cp_ram,cp_storage,cp_color,
  					cp_description,cp_price from cellphone
  		</select>
  		<select id="findByID" resultType="Cellphone">
  			select  cp_id,cp_brand,cp_model,cp_os,cp_cpu,cp_cpu_cores,cp_ram,cp_storage,cp_color,
  					cp_description,cp_price from cellphone
  			where cp_id=#{cp_id}
  		</select>
  		<insert id="createOne">
  			insert into cellphone values(
  				   'VPN'||cellphone_id_seq.nextval||'CN',
			       #{cp_brand},
			       #{cp_model},
			       #{cp_os},
			       #{cp_cpu},
			       #{cp_cpu_cores},
			       #{cp_ram},
			       #{cp_storage},
			       #{cp_color},
			       #{cp_description},
			       #{cp_price}
  			)
  		</insert>
  		
  		<select id="modelExist" resultType="Integer">
  			select count(cp_model) from cellphone where cp_model=#{cp_model}
  		</select>
  		
  		<update id="updateOne">
  			update 	cellphone set cp_brand=#{cp_brand},cp_os=#{cp_os},cp_cpu=#{cp_cpu},cp_cpu=#{cp_cpu_cores},cp_ram=#{cp_ram} ,
  					cp_storage=#{cp_storage} ,cp_color=#{cp_color} ,cp_description=#{cp_description},
  					cp_price=#{cp_price}
  			where cp_id=#{cp_id}
  			
  		</update>
  		
  		<delete id="deleteOne">
  			delete from cellphone where cp_id=#{cp_id}
  		</delete>
  		
  		<select id="fuzzyQuery" resultType="Cellphone">
			
			Select * from cellphone
				<where>
					<if test="cp_id!=null||!cp_id!=''">
						cp_id=#{cp_id}
					</if>
					
					<if test="cp_brand!=null||!cp_brand!=''">
						<bind name="brandpattern" value="'%'+cp_brand+'%'"></bind>
						  or cp_brand like #{brandpattern}
					</if>
					
					<if test="cp_model!=null||!cp_model!=''">
						<bind name="modelpattern" value="'%'+cp_model+'%'"></bind>
						or cp_model like #{modelpattern}
					</if>
					
					<if test="cp_os!=null||!cp_os!=''">
						<bind name="ospattern" value="'%'+cp_os+'%'"></bind>
						or cp_os like #{ospattern}
					</if>
					
					<if test="cp_cpu!=null||!cp_cpu!=''">
						<bind name="cpupattern" value="'%'+cp_cpu+'%'"></bind>
						or cp_cpu like #{cpupattern}
					</if>
					<!-- <if test="cp_cpu_cores!=null||!cp_cpu_cores!=''">
						or cp_cpu_cores=#{cp_cpu_cores}
					</if> -->
					
				</where>
	</select> 
  		
  		
  </mapper>