<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--    namespace对应Mapper接口名  -->
  <mapper namespace="shopadmin.mapper.CustomerMapper">
  		
  		<select id="listAll" resultType="Customer">
  			select c_id,username,password,lastdate from customers
  		</select>
  		
  		
  </mapper>