<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--    namespace对应Mapper接口名  -->
  <mapper namespace="shopadmin.mapper.LimitsMapper">
  		
  		<select id="findAllOptions" resultType="Limits">
  			select l.limits_id,l.limits_name,l.limits_desc 
       			from limits l
  		</select>
  		<!-- <resultMap type="Limits" id="limitsDetails">
  			<id column="limits_id" property="limits_id"/>
  			<result column="limits_name" property="limits_name"/>
  			<result column="limits_desc" property="limits_desc"/>
  		</resultMap> -->
  </mapper>